extends layout 

block layout-content
 h1 About
 div#about
  p(style="padding-left:5px; padding-top:5px") Electro E-Commerce Store is an online store where you can find the best deals on any product! Look out for holidays for discounts!
  
  
  
