doctype html
html
  head
    title= title
  body
    h1 #{library.querySelector("name").textContent}
    p Address: #{library.querySelector("address").textContent}
    p Phone: #{library.querySelector("phoneNumber").textContent}
