extends layout
block layout-content
  div.content
    h1.page-title Edit menu link
    form(method="post", action="/admin/menu/edit/submit")
      input(type="hidden", name="linkId", value=editLink._id)
      div
        label(for="weight") Weight:
        input(type="number", id="weight", name="weight")
      div
        label(for="path") Path:
        input(type="text", id="path", name="path")
      div
        label(for="name") Link Name:
        input(type="text", id="name", name="name")
      button(type="submit") Update link